<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171582123-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-171582123-1');
    </script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Epic Seven Helpers</title>
    <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css"/>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>
    <script src="https://unpkg.com/jquery@latest/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/js/bootstrap-select.min.js"></script>
</head>
<body>
<div id="app">
    <div class="container" style="margin-top:10px;">
        <h1>Guild war reporting</h1>

        <hr/>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <select-character v-model="firstHero.name" title="Your first hero"></select-character>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group form-group">
                    <input v-model="firstHero.speed" type="number" min="0" class="form-control"/>
                    <div class="input-group-append">
                        <span class="input-group-text">Speed</span>
                    </div>
                    <br/><small class="text-muted">Heroes/speeds are saved locally</small>
                </div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <select-character v-model="enemies.first.name" title="First hero"></select-character>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select-artefact v-model="enemies.first.artefact" title="First artefact"></select-artefact>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group form-group">
                    <input v-model="enemies.first.hp" type="number" min="0" class="form-control"/>
                    <div class="input-group-append">
                        <span class="input-group-text">HP</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group form-group">
                    <input v-model="enemies.first.cr" type="number" min="0" class="form-control"/>
                    <div class="input-group-append">
                        <span class="input-group-text">% CR</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label data-toggle="tooltip" data-placement="top" title="Is he play before me?">
                        <input type="checkbox" v-model="enemies.first.outspeed"/> Outspeed?
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>
                        <input type="checkbox" v-model="enemies.first.counter"/> <img src="assets/images/Counter.png"/>
                    </label>
                    <label>
                        <input type="checkbox" v-model="enemies.first.immunity"/> <img src="assets/images/Immunity.png"/>
                    </label>
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <input type="text" v-model="enemies.first.infos" class="form-control" placeholder="Extra infos..."/>
                </div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <select-character v-model="enemies.second.name" title="Second hero"></select-character>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select-artefact v-model="enemies.second.artefact" title="Second artefact"></select-artefact>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group form-group">
                    <input v-model="enemies.second.hp" type="number" min="0" class="form-control"/>
                    <div class="input-group-append">
                        <span class="input-group-text">HP</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group form-group">
                    <input v-model="enemies.second.cr" type="number" min="0" class="form-control"/>
                    <div class="input-group-append">
                        <span class="input-group-text">% CR</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label data-toggle="tooltip" data-placement="top" title="Is he play before me?">
                        <input type="checkbox" v-model="enemies.second.outspeed"/> Outspeed?
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>
                        <input type="checkbox" v-model="enemies.second.counter"/> <img src="assets/images/Counter.png"/>
                    </label>
                    <label>
                        <input type="checkbox" v-model="enemies.second.immunity"/> <img src="assets/images/Immunity.png"/>
                    </label>
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <input type="text" v-model="enemies.second.infos" class="form-control" placeholder="Extra infos..."/>
                </div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <select-character v-model="enemies.third.name" title="Third hero"></select-character>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select-artefact v-model="enemies.third.artefact" title="Third artefact"></select-artefact>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group form-group">
                    <input v-model="enemies.third.hp" type="number" min="0" class="form-control"/>
                    <div class="input-group-append">
                        <span class="input-group-text">HP</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group form-group">
                    <input v-model="enemies.third.cr" type="number" min="0" class="form-control"/>
                    <div class="input-group-append">
                        <span class="input-group-text">% CR</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label data-toggle="tooltip" data-placement="top" title="Is he play before me?">
                        <input type="checkbox" v-model="enemies.third.outspeed"/> Outspeed?
                    </label>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <div class="form-group">
                    <label>
                        <input type="checkbox" v-model="enemies.third.counter"/> <img src="assets/images/Counter.png"/>
                    </label>
                    <label>
                        <input type="checkbox" v-model="enemies.third.immunity"/> <img src="assets/images/Immunity.png"/>
                    </label>
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <input type="text" v-model="enemies.third.infos" class="form-control" placeholder="Extra infos..."/>
                </div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button class="btn btn-secondary float-right" v-on:click="copyToClipboard">Copy text to clipboard</button>
                    <button class="btn btn-secondary float-right mr-3" v-on:click="resetForm">Reset form</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <textarea id="report" v-model="report" class="form-control mt-3" style="height:120px"></textarea>
            </div>
        </div>
    </div>

</div>
<script src="index.js" type="module"></script>
</body>
</html>