<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171582123-1"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-171582123-1');
    </script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Epic Seven Helpers</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css"/>
    <link type="text/css" rel="stylesheet" href="./assets/css/dark-mode.css"/>
    <script async src="./assets/js/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-i18n@8.18.2/dist/vue-i18n.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/js/bootstrap-select.min.js"></script>
</head>
<body>
<div id="app" v-cloak>
    <div class="container" style="margin-top:10px;">
        <div class="row">
            <div class="col-md-6">
                <h1>{{ $t('title') }}</h1>
            </div>
            <div class="col-md-6">
                <div class="custom-control custom-switch float-right">
                    <input type="checkbox" class="custom-control-input" id="darkSwitch" v-model="darkMode"/>
                    <label class="custom-control-label" for="darkSwitch">{{ $t('darkMode') }}</label>
                </div>
                <div class="locale-changer float-right mr-3">
                    <select id="locale-changer" v-model="$i18n.locale" style="height: 26px;" @change="changeLang()">
                        <option v-for="(lang, i) in langs" :value="lang.code">{{ lang.name }}</option>
                    </select>
                </div>
            </div>
        </div>

        <hr/>

        <div class="form-group">
            <input type="text" v-model="tower" class="form-control" :placeholder="$t('tower')"/>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <nav class="nav nav-tabs">
                        <a class="nav-item nav-link active" href="#t1" data-toggle="tab">{{ $t('t1') }}</a>
                        <a class="nav-item nav-link" href="#t2" data-toggle="tab">{{ $t('t2') }}</a>
                        <a class="nav-item nav-link" href="#result" data-toggle="tab">{{ $t('report') }}</a>
                    </nav>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="t1">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <select-character v-model="firstHero.name" :title="$t('firstHero')"></select-character>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group form-group">
                            <input v-model="firstHero.speed" type="number" min="0" class="form-control"/>
                            <div class="input-group-append">
                                <span class="input-group-text">{{ $t('speed') }}</span>
                            </div>
                            <br/><small class="text-muted"> {{ $t('heroesSaved') }}</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group form-group">
                            <input v-model="firstHero.crBonus" type="number" min="0" class="form-control"/>
                            <div class="input-group-append">
                                <span class="input-group-text">{{ $t('crBonus') }}</span>
                            </div>
                            <br/><small class="text-muted"> {{ $t('crBonusDesc') }}</small>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="form-row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <select-character v-model="enemiesFirstHero.first.name" :title="$t('enemiesFirstHero')"></select-character>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select-artifact ref="enemiesFirstHeroFirst" v-model="enemiesFirstHero.first.artifact" :title="$t('enemiesFirstArtifact')"></select-artifact>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group form-group">
                            <input v-model="enemiesFirstHero.first.hp" type="number" min="0" class="form-control"/>
                            <div class="input-group-append">
                                <span class="input-group-text">{{ $t('hp') }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group form-group">
                            <input v-model="enemiesFirstHero.first.cr" type="number" min="0" class="form-control"/>
                            <div class="input-group-append">
                                <span class="input-group-text">{{ $t('cr') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label data-toggle="tooltip" data-placement="top" :title="$t('outspeedDesc')">
                                <input type="checkbox" v-model="enemiesFirstHero.first.outspeed"/> {{ $t('outspeed') }}
                            </label>
                            <label>
                                <input type="checkbox" v-model="enemiesFirstHero.first.counter"/> <img src="assets/images/Counter.png"/>
                            </label>
                            <label>
                                <input type="checkbox" v-model="enemiesFirstHero.first.immunity"/> <img src="assets/images/Immunity.png"/>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" v-model="enemiesFirstHero.first.infos" class="form-control" :placeholder="$t('extraInfos')"/>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <select-character v-model="enemiesFirstHero.second.name" :title="$t('enemiesSecondHero')"></select-character>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select-artifact v-model="enemiesFirstHero.second.artifact" :title="$t('enemiesSecondArtifact')"></select-artifact>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group form-group">
                            <input v-model="enemiesFirstHero.second.hp" type="number" min="0" class="form-control"/>
                            <div class="input-group-append">
                                <span class="input-group-text">{{ $t('hp') }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group form-group">
                            <input v-model="enemiesFirstHero.second.cr" type="number" min="0" class="form-control"/>
                            <div class="input-group-append">
                                <span class="input-group-text">{{ $t('cr') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label data-toggle="tooltip" data-placement="top" :title="$t('outspeedDesc')">
                                <input type="checkbox" v-model="enemiesFirstHero.second.outspeed"/> {{ $t('outspeed') }}
                            </label>
                            <label>
                                <input type="checkbox" v-model="enemiesFirstHero.second.counter"/> <img src="assets/images/Counter.png"/>
                            </label>
                            <label>
                                <input type="checkbox" v-model="enemiesFirstHero.second.immunity"/> <img src="assets/images/Immunity.png"/>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" v-model="enemiesFirstHero.second.infos" class="form-control" :placeholder="$t('extraInfos')"/>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <select-character v-model="enemiesFirstHero.third.name" :title="$t('enemiesThirdHero')"></select-character>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select-artifact v-model="enemiesFirstHero.third.artifact" :title="$t('enemiesThirdArtifact')"></select-artifact>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group form-group">
                            <input v-model="enemiesFirstHero.third.hp" type="number" min="0" class="form-control"/>
                            <div class="input-group-append">
                                <span class="input-group-text">{{ $t('hp') }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group form-group">
                            <input v-model="enemiesFirstHero.third.cr" type="number" min="0" class="form-control"/>
                            <div class="input-group-append">
                                <span class="input-group-text">{{ $t('cr') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label data-toggle="tooltip" data-placement="top" :title="$t('outspeedDesc')">
                                <input type="checkbox" v-model="enemiesFirstHero.third.outspeed"/> {{ $t('outspeed') }}
                            </label>
                            <label>
                                <input type="checkbox" v-model="enemiesFirstHero.third.counter"/> <img src="assets/images/Counter.png"/>
                            </label>
                            <label>
                                <input type="checkbox" v-model="enemiesFirstHero.third.immunity"/> <img src="assets/images/Immunity.png"/>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" v-model="enemiesFirstHero.third.infos" class="form-control" :placeholder="$t('extraInfos')"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="t2">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <select-character v-model="secondHero.name" :title="$t('firstHero')"></select-character>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group form-group">
                            <input v-model="secondHero.speed" type="number" min="0" class="form-control"/>
                            <div class="input-group-append">
                                <span class="input-group-text">{{ $t('speed') }}</span>
                            </div>
                            <br/><small class="text-muted"> {{ $t('heroesSaved') }}</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group form-group">
                            <input v-model="secondHero.crBonus" type="number" min="0" class="form-control"/>
                            <div class="input-group-append">
                                <span class="input-group-text">{{ $t('crBonus') }}</span>
                            </div>
                            <br/><small class="text-muted"> {{ $t('crBonusDesc') }}</small>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="form-row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <select-character v-model="enemiesSecondHero.first.name" :title="$t('enemiesFirstHero')"></select-character>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select-artifact v-model="enemiesSecondHero.first.artifact" :title="$t('enemiesFirstArtifact')"></select-artifact>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group form-group">
                            <input v-model="enemiesSecondHero.first.hp" type="number" min="0" class="form-control"/>
                            <div class="input-group-append">
                                <span class="input-group-text">{{ $t('hp') }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group form-group">
                            <input v-model="enemiesSecondHero.first.cr" type="number" min="0" class="form-control"/>
                            <div class="input-group-append">
                                <span class="input-group-text">{{ $t('cr') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label data-toggle="tooltip" data-placement="top" :title="$t('outspeedDesc')">
                                <input type="checkbox" v-model="enemiesSecondHero.first.outspeed"/> {{ $t('outspeed') }}
                            </label>
                            <label>
                                <input type="checkbox" v-model="enemiesSecondHero.first.counter"/> <img src="assets/images/Counter.png"/>
                            </label>
                            <label>
                                <input type="checkbox" v-model="enemiesSecondHero.first.immunity"/> <img src="assets/images/Immunity.png"/>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" v-model="enemiesSecondHero.first.infos" class="form-control" :placeholder="$t('extraInfos')"/>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <select-character v-model="enemiesSecondHero.second.name" :title="$t('enemiesSecondHero')"></select-character>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select-artifact v-model="enemiesSecondHero.second.artifact" :title="$t('enemiesSecondArtifact')"></select-artifact>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group form-group">
                            <input v-model="enemiesSecondHero.second.hp" type="number" min="0" class="form-control"/>
                            <div class="input-group-append">
                                <span class="input-group-text">{{ $t('hp') }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group form-group">
                            <input v-model="enemiesSecondHero.second.cr" type="number" min="0" class="form-control"/>
                            <div class="input-group-append">
                                <span class="input-group-text">{{ $t('cr') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label data-toggle="tooltip" data-placement="top" :title="$t('outspeedDesc')">
                                <input type="checkbox" v-model="enemiesSecondHero.second.outspeed"/> {{ $t('outspeed') }}
                            </label>
                            <label>
                                <input type="checkbox" v-model="enemiesSecondHero.second.counter"/> <img src="assets/images/Counter.png"/>
                            </label>
                            <label>
                                <input type="checkbox" v-model="enemiesSecondHero.second.immunity"/> <img src="assets/images/Immunity.png"/>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" v-model="enemiesSecondHero.second.infos" class="form-control" :placeholder="$t('extraInfos')"/>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <select-character v-model="enemiesSecondHero.third.name" :title="$t('enemiesThirdHero')"></select-character>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select-artifact v-model="enemiesSecondHero.third.artifact" :title="$t('enemiesThirdArtifact')"></select-artifact>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group form-group">
                            <input v-model="enemiesSecondHero.third.hp" type="number" min="0" class="form-control"/>
                            <div class="input-group-append">
                                <span class="input-group-text">{{ $t('hp') }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group form-group">
                            <input v-model="enemiesSecondHero.third.cr" type="number" min="0" class="form-control"/>
                            <div class="input-group-append">
                                <span class="input-group-text">{{ $t('cr') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label data-toggle="tooltip" data-placement="top" :title="$t('outspeedDesc')">
                                <input type="checkbox" v-model="enemiesSecondHero.third.outspeed"/> {{ $t('outspeed') }}
                            </label>
                            <label>
                                <input type="checkbox" v-model="enemiesSecondHero.third.counter"/> <img src="assets/images/Counter.png"/>
                            </label>
                            <label>
                                <input type="checkbox" v-model="enemiesSecondHero.third.immunity"/> <img src="assets/images/Immunity.png"/>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" v-model="enemiesSecondHero.third.infos" class="form-control" :placeholder="$t('extraInfos')"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="result">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-secondary float-right" v-on:click="copyToClipboard">{{ $t('copyText') }}</button>
                            <button class="btn btn-secondary float-right mr-3" v-on:click="copyToClipboardSL">{{ $t('copyTextSL') }}</button>
                            <button class="btn btn-secondary float-right mr-3" v-on:click="resetForm">{{ $t('reset') }}</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea id="report" v-model="report" class="form-control mt-3" style="height:300px"></textarea>
                            <textarea id="sl" style="opacity:0"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script src="index.js" type="module"></script>
</body>
</html>