.dark {
  background-color: #343a40 !important;
  color: #eee !important;
}

.dark .navbar-brand {
  color: #eee !important;
}

.dark .bg-light {
  background-color: rgb(33, 37, 41) !important;
  color: #eee !important;
}

.dark hr {
  border-color: #dee2e6 !important;
}

.dark nav span.h1 {
  color: #eee;
}

.dark .toast-body {
  background-color: rgb(33, 37, 41) !important;
}

.dark .form-control,
.dark .dropdown-toggle,
.dark .btn {
  background-color: #343a40 !important;
  color: #eee !important;
  border-color: #eee !important;
}

.dark .input-group-text {
  background-color: rgb(33, 37, 41) !important;
  color: #eee !important;
}

.dark .nav-tabs a {
    color: #eee !important;
}
.dark .nav-tabs .active {
  background-color: rgb(33, 37, 41) !important;
  color: #eee !important;
}
