.dark {
    background-color: #343a40 !important;
    color: #eee;
}

.dark .bg-light {
    background-color: rgb(33, 37, 41) !important;
}

.dark .bg-white {
    background-color: #000 !important;
}

.dark .bg-black {
    background-color: #eee !important;
}

.dark hr {
    border-color: #dee2e6 !important;
}

.dark nav span.h1 {
    color: #eee;
}

.dark .toast-body {
    background-color: rgb(33, 37, 41) !important;
}

.dark .btn {
    background-color: #e9ecef !important;
    color: #495057;
}
